.vscode/launch.json
test_work/test_app/__pycache__/models.cpython-37.pyc
test_work/test_app/__pycache__/urls.cpython-37.pyc
test_work/test_app/__pycache__/views.cpython-37.pyc
test_work/test_app/__pycache__/models.cpython-37.pyc
test_work/test_app/__pycache__/urls.cpython-37.pyc
test_work/test_app/__pycache__/views.cpython-37.pyc
test_work/test_work/__pycache__/settings.cpython-37.pyc
test_work/db.sqlite3-journal
