<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Test</title>
    <style>
      body { background: rgb(61, 58, 58) !important;}
      .carousel-inner > .carousel-item > img {width: 100%; ;}
      table{background-color: white;border-width: 5px !important;}
      td{border-width: 5px;border-color: black !important;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark">
        <a class="navbar-brand" href="#">Test work site</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
        <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by username">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
      </nav>



    <div class="container">
    <h1 class="text-primary text-center" text-center>Choose style of table</h1>
    </div>
    <div id="demo" class="carousel slide container" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/test"><img src="https://i.imgur.com/qlBokGm.jpg" width="1100" height="500" ></a>
            <div class="carousel-caption">
                <h2 class="text-danger bg-dark">Dark table</h2>
            </div>
        </div>
        <div class="carousel-item">
            <a href="test1"><img src="https://i.imgur.com/pOGkgyS.jpg" width="1100" height="500"></a>
            <div class="carousel-caption" style="width: 80;">
                <h2 class="text-danger bg-dark">White table</h2>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div class="container">
      <h1 class="text-primary text-center">Table test</h1>
    </div>

    <div class="container ">
      <table class="{{borders}}">
        <thead>
          <tr>
            <th>Username</th>
            <th>Post theme</th>
            <th>Post text</th>
          </tr>
        </thead>
        <tbody>
          {% for item in info %}
            <tr>
                <td>{{item.name}}</td> <td>{{item.title}}</td> <td>{{item.body}}</td>
            </tr>
          {% endfor %} 
        </tbody> 
    </div>
    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>